
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

.h1{
    font-family: 'EB Garamond', serif !important;
} */
.banner{
    background-image: url(../images/banner.png);
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 576px) {
    .banner {
      background-image: none;
    }
}